body {
    margin: 8px;
    font-family: sans-serif;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 170px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 4px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.color {
    height: 100px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.box.is-active {
    transform: perspective(400px) rotateX(10deg);
}


